/* Base Application Styles */

/* COLORS -- TO BE MOVED TO OWN FILE  */
$primary: #23AA5D;
$type-primary: #FFFFFF;
$type-secondary: #73BE88;

.madlib-line {
  display: block;
  height: 20px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}

/* MAIN STYLES -- TO BE MOVED TO OWN FILE  */
.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary;
  display: grid;
  align-items: center;
  justify-items: center;
  color: $type-primary;
}
